#navbar{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}       

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links ul li a:hover{
    color: #f9004d;
}